<mat-card>
    



    <table>
        <tr>
        <td colspan="14" style="text-align: center;width: 1300px;">
            <p>Perfil</p>
        </td>
    </tr>
        <tr>
        <td colspan="6" rowspan="2" style="text-align: center;">
            <p>Acerca de: </p>
            <p>{{perfil.acercade}}</p>
        </td>

        <td  style="text-align: center;" colspan="2">
            <img *ngIf="fotoseleccionada"   [src]="resolverFoto(fotoseleccionada)" alt="">
        </td>

        <td colspan="7" >
           <p>Detalles:</p> 
           <br>
           <p>Nombre</p>
           <p>{{perfil.nombre}} {{perfil.apellido_pat}} {{perfil.apellido_mat}}</p>
           <p>Edad</p>
           <p>{{perfil.edad}}</p>
        </td>
        </tr>


        <tr>
        <td colspan="14" style="text-align: center;">
            <p>Ubicacion</p>
            <p>{{perfil.ubicacion}}</p>
        </td>
    </tr>
    <tr>
        <td colspan="7">
            <p>Likes</p>
            <p>{{like.likes}}</p>
            <button style="text-align: right;"(click)="editarlikes(like)">Dar like</button>
        </td>
        <td colspan="7">
            <p>Dislikes</p>
            <p>{{like.dislikes}}</p>
            <button style="text-align: right;" (click)="editardislikes(like)">Dar dislike</button>
        </td>
    </tr>
        
        </table>

</mat-card>
